<% render 'layout', :title => 'С Днем рождения, Юлия' do %>
  <div class="layout">
    <img src="/images/20-years.jpg" title="20 лет">
    <p>Мы с тобой знакомы уже года четыре или чуть больше.</p>
    <p>Я встретил тогда тебя и я встретил великолепную девочку.</p>
    <p>С каждым годом ты становилась все лучше и лучше, и я не переставал тобой восхищаться.</p>
    <p><strong>Тебе уже двадцать.</strong></p>
    <p>И несмотря на то, что тебе скоро понадобится крем от морщин.</p>
    <p><strong>Я желаю тебе улыбок.</strong> Слышишь? Часто улыбаться, я об этом позабочусь.</p>
    <p><strong>Любви.</strong></p>
    <p><strong>Здоровья.</strong></p>
    <p>И красивую кошку, которая не будет спать на моей кровати.</p>
    <p>A <a href="http://www.weborama.ru/#/music/Frank_Sinatra/My_Way-The_Best_of_Frank_Sinatra_Disc_1/Theme_from_New_York_New_York/">Нью-Йорк</a> старше тебя в девятнадцать с половиной раз.</p>    
  </div>
<% end %>